<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/static/logo.png" />

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta
    property="og:description"
    content="{{ page.description | default: site.title }}"
  />
  <meta
    property="og:image"
    content="{{ page.og_image | default: '/static/random1.jpeg' }}"
  />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:type" content="article" />

  <script src="https://cdn.tailwindcss.com"></script>
</head>
